<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:./testdb</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <!-- Zakomentować -->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="priv.stud.database.entities.Content" />
        <mapping class="priv.stud.database.entities.ContentPath" />
        <mapping class="priv.stud.database.entities.ContentType" />
        <mapping class="priv.stud.database.entities.Cookie" />
        <mapping class="priv.stud.database.entities.LinkPath" />
        <mapping class="priv.stud.database.entities.Site" />
        <!-- Dodać prawidłowe encje, zamiast z PoCa -->
<!--        <mapping class="org.example.entities.Role"/>-->
<!--        <mapping class="org.example.entities.User"/>-->
    </session-factory>
</hibernate-configuration>
